.custom-button-base, .custom-button-base:focus{
  min-width: 60px;
  min-height: 60px;
  border-color: transparent!important;

}

.custom-button-base:active{
  transform: scale(0.95);
}

.trashcan-button, .trashcan-button:focus{
  background-color: lightcoral;
}


.trashcan-button:hover{
  background-color: rgb(243, 160, 160);
}

.trashcan-button:active{
  background-color: firebrick !important;
}








.add-button, .add-button:focus{
  background-color: cornflowerblue;
}

.add-button:hover{
  background-color: rgb(135, 174, 245);
}

.add-button:active{
  background-color: dodgerblue !important;
}


.save-button, .save-button:focus{
  background-color: mediumaquamarine;
}

.save-button:hover{
  background-color: rgb(141, 238, 206);
}

.save-button:active{
  background-color: seagreen !important;
}

.arrow-button, .arrow-button:focus{
  min-width: 65px;
  min-height: 65px;
  background-color: white;
  color:dimgray;
  border-radius: 50%;
  border-color: gainsboro !important;
  border-width: 4px;
}

.arrow-button:hover{
  background-color: whitesmoke;
}

.arrow-button:active{
  transform: scale(0.95);
}

.arrow-disabled, .arrow-disabled:hover, .arrow-disabled:active {
  color: gainsboro;
}

.btn:disabled, .btn.disabled{
  border-color: gainsboro;
  border-width: 4px;
}

.empty-card{
    border: none;
}

.empty-card-inner{
  position: relative;
  width: 100%;
  height: 400px;
  background-color: whitesmoke;
}

.deleteset-button, .deleteset-button:focus{
  background-color: white;
  color: lightcoral;
}


.deleteset-button:hover{
  background-color: white;
  color: rgb(243, 160, 160) ;
}

.deleteset-button:active{
  background-color: white !important;
  color: firebrick !important;
}


@keyframes slide-right{
  0%
  {
    transform: translateX(85px) rotateZ(-5deg);
  }
  100%
  {
    transform: translateX(0px) rotateZ(0deg);
  }
}

.slide-right{
  animation: slide-right 0.1s ease 1 forwards
}


@keyframes slide-left{
  0%
  {
    transform: translateX(-85px) rotateZ(5deg);
  }
  100%
  {
    transform: translateX(0px) rotateZ(0deg);
  }
}

.slide-left{
  animation: slide-left 0.1s ease 1 forwards
}